<div id="mlog_intro">
歡迎使用<em>我的流水帳</em>
<br/>
您可以快速便利的在網路上記<em>流水帳</em>。
<br/>
要使用這個網站，
首先要申請一本帳本來記帳，
就等同您要買一本記帳本來記帳是一樣的意思，
只是這個帳本是網路服務，
意味著只要您能上網就能記帳。
<br/>
申請帳本您必須輸入一個<em>帳號</em>，
也就是帳本的名稱，
和一副<em>密碼</em>，
密碼是用來確認您是這本帳本的主人，
像您的私房錢帳本只有您自已知道放在那裡。
<br/>
就快來<em>申請一本新帳本</em>吧！
<br/>
<br/>
想更暸解<em>我的流水帳</em>嗎？
<%=link_to "請點一下這裡", helper_url("main") %>！
</div>
