<div id="mlog_intro">
經濟不景氣，如何有效理財很重要，
而記流水帳是理財的基礎，
但那裡有適合的工具啊？
<br/>
<a href="http://moneylog.heroku.com">我的流水帳(http://moneylog.heroku.com)</a>
讓您可以快速便利的在網路上記流水帳，特色如下：
<ol>
<li>入帳畫面輸入簡便，讓你輕鬆記帳，再也沒有理由說記帳麻煩！</li>
<li>自動計算收支帳讓你一目暸然，永遠與透支說 bye bye 喔！</li>
<li>科目能用樹狀圖組織，分類超級有彈性，你想怎麼分就怎麼分！</li>
</ol>
心動了嗎！要使用這個網站，
只要按下<em>申請新帳本</em>，馬上就開始您的新財富人生！
</div>
