<% start = true
  DbChecklistsController::MONTH_CHECKLIST.each do |c| %>
		<tr>
			<%if start 
			     rowspan=DbChecklistsController::MONTH_CHECKLIST.size%>
				 <th rowspan='<%=rowspan%>'>每月
						 <br/><%=@month_start.strftime('%m/%d')%><th>
			   <td><%=c%></td>
				 <td colspan='5'></td>
				 <% start=false %>
			<%else%>
				 <% start=false %>
				 <td></td>
				 <td><%=c%></td>
				 <td colspan='5'></td>
			 <%end%>
		</tr>
	<%end%>
