<tr>
	<th colspan="9">異常情況</th>
</tr>
<tr height="15%">
	<td colspan="9" ><br/><br/><br/><br/><br/><br/><br/></td>
</tr>
<tr>
	<th colspan="9">處理結果</th>
</tr>
<tr height="15%">
	<td colspan="9" ><br/><br/><br/><br/><br/><br/><br/></td>
</tr>
