body { background-color: #fff; 
	     color: #333; font-size:medium
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

#tag_selectors   {width:80%;}
#tag_selectors a {color:blue;text-decoration:none}

.number   {text-align:right}
.negative {text-align:right;color:red}

.operation a{color:red;text-decoration:none}

table {padding-left:1.5%;
	     text-align:left;
       font-size:medium
}
th {color:green;font-weight:bold}
b  {color:green;font-weight:bold}


.topbar_button {float:right;color:red;
                border-left:1px solid orange}
.topbar_button a:link {color:red;text-decoration:none}
.topbar_button a:visited {color:red;text-decoration:none}
.topbar_button a:hover {background:white;color:blue;text-decoration:none}
.topbar_button a:active {color:red;text-decoration:none}

#login {padding-right:10px}
#lang  {padding-right:10px}
#system{padding-right:10px}
#logo  {font-weight:bold;color:orange;
	      border-bottom:2px solid orange }

#flash {color:white;background:red;position:absolute;left:0px;top:0px}

#logo a:link {color:orange;text-decoration:none}
#logo a:visited {color:orange;text-decoration:none}
#logo a:hover {background:white;color:blue;text-decoration:none}
#logo a:active {color:orange;text-decoration:none}

#content {padding: 0 0 0 0}
#adsense {float: right}

#tasks                {padding-left:30%}
#tasks a.task:link    {color:chocolate;text-decoration:none}
#tasks a.task:visited {color:chocolate;text-decoration:none}
#tasks a.task:hover   {background:white;color:DarkMagenta;text-decoration:none}
#tasks a.task:active  {color:chocolate;text-decoration:none}

#tasks a.current_task:link    {color:blue;text-decoration:none}
#tasks a.current_task:visited {color:blue;text-decoration:none}
#tasks a.current_task:hover   {background:white;color:blue;text-decoration:none}
#tasks a.current_task:active  {color:blue;text-decoration:none}

#mon_selector {padding-left:30%}
#mon_selector a.mon:link    {color:chocolate;text-decoration:none}
#mon_selector a.mon:visited {color:chocolate;text-decoration:none}
#mon_selector a.mon:hover   {background:white;color:DarkMagenta;text-decoration:none}
#mon_selector a.mon:active  {color:chocolate;text-decoration:none}

#mon_selector a.current_mon:link    {color:DarkMagenta;text-decoration:none;
border:1px solid DarkMagenta}
#mon_selector a.current_mon:visited {color:DarkMagenta;text-decoration:none;
border:1px solid DarkMagenta}
#mon_selector a.current_mon:hover   {background:white;color:DarkMagenta;
text-decoration:none;border:1px solid DarkMagenta}
#mon_selector a.current_mon:active  {color:DarkMagenta;text-decoration:none;
border:1px solid DarkMagenta}

#operations           {float:left;width:9.5%;border:1px solid red}
#operations a:link    {color:red;text-decoration:none}
#operations a:visited {color:red;text-decoration:none}
#operations a:hover   {color:white;text-decoration:none;background:red}

#tools               {padding-top:2%;float:left;width:20%}
#caculator           {padding-top:2%;border:1px solid orange}
#caculator td        {text-align:center;border:1px solid orange}
#caculator td:hover  {color:white;background:orange}
#caculator td:active {text-align:center;border:1px dotted orange}

#login_form           {float:right;border:1px dotted orange}
#login_form h1        {font-size:medium;font-weight:bold}
#login_form a:link    {color:red;text-decoration:none}
#login_form a:visited {color:red;text-decoration:none}
#login_form a:hover   {color:white;text-decoration:none;background:red}

#mlog_intro              {padding:5% 30% 0 10%;font-weight:bold;
	                         color:DarkKhaki} 
#mlog_intro .intro       {border:1px darkorange dotted}
.intro a:link            {color:darkorchid;text-decoration:none}
.intro a:visited         {color:darkorchid;text-decoration:none}
.intro a:hover           {color:white;text-decoration:none;background:darkorchid}

#mlog_intro em        {font-style:normal;color:red}

#tagtree_form #functions {float:right;padding-right:30%;border:none}
#form {width:55%;padding-left:30%}

#expense_table           {float:left}
#income_table            {float:left}

.summary {text-align:center}


pre {
  background-color: #eee;
  padding: 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landr�               |
|--------------------------------------------------*/

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
