<h1>花蓮縣稅捐處資料庫稽核作業</h1>
  <% form_tag :action => "show" do %>
    <label for="username">帳號</label> 
    <%= select "audit_trail", "username", AuditLog::DEFAULT_USERS %> <br/>
    <label for="start_date">開始日期</label> 
    <%= date_select "audit_trail", "start_date" %> <br/>
    <label for="end_date">結束日期</label> 
    <%= date_select "audit_trail", "end_date" %> <br/>
		<%= submit_tag '送出' %>
  <% end %>
