<div id="caculator">
<table>
<tr><td colspan="5"><input id="calc_display" type="text"></td></tr>
<tr>
	<td onclick="calc('+/-')">+/-</td>
	<td onclick="calc('7')">7</td>
	<td onclick="calc('8')">8</td>
	<td onclick="calc('9')">9</td>
	<td onclick="calc('/')">/</td></tr>
<tr>
	<td rowspan="3" onclick="calc('C')">C</td>
	<td onclick="calc('4')">4</td>
	<td onclick="calc('5')">5</td>
	<td onclick="calc('6')">6</td>
	<td onclick="calc('*')">*</td></tr>
<tr>
	<td onclick="calc('1')">1</td>
	<td onclick="calc('2')">2</td>
	<td onclick="calc('3')">3</td>
	<td rowspan="2" onclick="calc('+')">+</td></tr>
<tr><td onclick="calc('0')">0</td>
	<td onclick="calc('.')">.</td>
	<td onclick="calc('=')">=</td></tr>
</table>
</div>
