<%
	@default_date ||= Date.today
%>
<%= f.hidden_field :user_id %>
<%= f.date_select :date, :default => @default_date %>
<%= f.text_field :value %>
<br/>
<%= f.text_field :tag_list %>
<span class="operation">
<%= link_to_function "清空科目", "$('mlog_tag_list').value = ''" %>
</span>
<%= render :partial => '/mlogs/tag_selector' %>
<br/>
<%= f.text_area  :comment %>
<% if controller.action_name == 'edit' %>
	<br/>
	帳移轉給使用者
	<%= text_field_tag 'transfer_user' %>
<% end %>
