<%
	tags  = current_user.mlogs.tag_counts.sort_by {|t| 
												t.count}.reverse.map{|t|t.to_s}
  current_user.create_tag_tree if current_user.tag_tree.nil?
  rtags = current_user.tag_tree.leafs_contents  
  case controller
  when TagTreesController
		@tags = []  
    @tags.push (tags - rtags)
  else
		etags= current_user.tag_tree.find_by_content('支出').leafs_contents 
		itags= current_user.tag_tree.find_by_content('收入').leafs_contents  
		@tags = []  
		@tags.push (tags & etags)
		@tags.push (tags & itags)
		@tags.push (etags - @tags.flatten)
		@tags.push (itags - @tags.flatten)
		@tags.push (tags  - @tags.flatten)
		@tags.push (rtags - @tags.flatten)
  end
%>
<div id='tag_selectors'>
  <% for tags1 in @tags 
     for tag in tags1 %>
	    <%=tag_button tag %>
     <%end%>
     <%if tags1.size > 0 %>
			 <br/>
			 <br/>
     <%end%>
  <%end%>
</div>
