<% form_for(@mlog) do |f| %>
<div id="operations">
<%= link_to_submit "儲存" %>
<br/>
<%= monthly_task '返回', 'mlog' %>
</div>
<div id="form">
<%= f.error_messages %>
<%= render :partial => 'form', :locals => {:f => f} %>
</div >
<% end %>
