<div id="form">
<table>
<tr><th>
部落格
</th></tr>
<tr><td>
有任何意見可以在
<a href="http://moneylogblog.blogspot.com/">Moneylog 部落格("http://moneylogblog.blogspot.com/")</a>
寫下來，^^;會儘力解決您的問題！
</td></tr>
</div>
