<%section '實體關係模型與自然語言' do%>
% paragraph do
關係的度數指得是參與關係的實體數目，
或是關係所連結的實體數目。
一般分為一元、二元及三元關係。
% end
% table '實體關係模型與自然語言' do
<table>
<tr><td>英文文法結構</td><td>實體關聯圖結構</td></tr>
<tr><td>普通名詞(Common Noun)</td><td>實體型態(Entity Type)</td></tr>
<tr><td>專有名詞(Proper Noun)</td><td>實體(Entity)</td></tr>
<tr><td>及物動詞(Transitive Verb)</td><td>關聯型態(Relationship Type)</td></tr>
<tr><td>不及物動詞(Intransitive Verb)</td><td>屬性型態(Attribute Type)</td></tr>
<tr><td>形容詞(Adjective)</td><td>實體的屬性(Attribute)</td></tr>
<tr><td>副詞(Adverb)</td><td>關聯性的屬性(Attribute)</td></tr>
</table>
% end
<%end%> 
