<%section '關聯式代數' do%>
% paragraph do
E.F.Codd 對於關聯式代數最原始的定義中包含了八個運算，分為兩組：
「原始運算子」這些運算子無法以其他的運算子來定義。
% end
% section '原始運算子' do
% section '限制' do
% paragraph do
從一個表格中取出符合條件的紀錄。
% end
% end
% section '投影' do
% paragraph do
從一個表格中取出所需要的欄位。
% end
% end
% section '卡式積 ' do
% paragraph do
運算以集合論中所定義的「卡式積」，
將兩個表格組合成一個表格，
這個是理論基礎上的運算子，在實務上是避免這種使用方式的。
% end
% end
% section '聯集' do	
% paragraph do
此運算以集合論中所定義的聯集，從兩個表格中取出聯集的資料，
重複的資料只取出一筆。
% end
% end
% section '交集' do	
% paragraph do
此運算以集合論中所定義的交集，
即將兩個關聯表中屬性相同的資料集成一個關聯表
% end
% end
% section '差集' do
% paragraph do
此運算以集合論中所定義的差集運算，
從一個表格中刪除另一個表格中有的資料。
% end
% end
% section '除法' do
% paragraph do
運算有兩個運算元：
第一個表格當作是「被除表」，
第二個表格當作是「除表」。
被除表的屬性必須要比除表多上一個以上。
此運算是在關聯表 R1 中找出符合關聯表 R2 中屬性值的值組。
% end
% end
% end
% section '合併運算子' do
% section '外部合併' do
% paragraph do
外部合併是作用在兩個關連上的運算子，
其將關連分成主關連及副關連，
原本相等合併除去所有不滿足合併條件的列，
而外部合併則保留主關連的所有列，
若沒有副關連的列則副關連的欄位設為 NULL 值。
左外部合併運算子其左方關連的是主關連，
右方關連為副關連；
右外部合併運算子其右方關連的是主關連，
左方關連為副關連。
% end
% end
% end
% table '關聯式代數與關聯式計算的比較', 'rel_alge_vs_rel_calc' do
<tr><td></td><td>關聯式代數</td><td>關聯式計算</td></tr> 
<tr><td>1</td> 
<td>為一程序式的查詢語言。</td> 
<td>為一非程序式查詢語言。</td></tr> 
<tr><td>２</td> 
<td>必須明白地指出運算的順序。</td> 
<td>不須明白地指出運算的順序。</td></tr> 
<tr><td>３</td> 
<td>必須提供基本運算。</td> 
<td>不須提供基本運算。</td></tr> 
<tr><td>４</td> 
<td>以集合的基本運算與關聯式運子為基礎。</td> 
<td>以集合表示法與 predicate calculus  
為基礎。</td></tr> 
<tr><td>５</td> 
<td>表示能力與關聯式計算相等，而且每一個關聯式代數的查詢皆可轉成相對的關聯式計算查詢。</td> 
<td>表示能力與關聯式代數相等，而且每一個關聯式計算的查詢皆可轉成相對的關聯式代數查詢。</td></tr> 
<tr><td>６</td> 
<td>可直接實現，並可作為查詢最佳化時的樹狀結構中間型式。</td> 
<td>通常是以轉成關聯式代數來實現。</td></tr>
% end
<%end%>
